body{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 20px;
    background-size: cover;
    background-attachment:fixed   
}
.background3{
  background-image: url(../img/wallpaper.wiki-Images-Spirited-Away-Wallpaper-HD-PIC-WPE00976.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 20px;
    background-size: cover;
    background-attachment:fixed   
}
.background2{
  background-image: url(../img/7pd6lmjuo2t21.png);
  background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 20px;
    background-size: cover;
    background-attachment:fixed   
}
.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 20px;
  
}
#hatter{
    background-color: white ;

}
table {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
table,
th,
td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
.poster{
  height: 360px;
  width: 250px;
  border: 30px;
  margin: 1rem;
  border-radius: 5px; 
  border-width: 5px;
  border-style: solid;
  border-color: white;
  margin: auto;
  border-bottom-width:5px;
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  display: flex;
  flex-wrap: wrap;
}
.poster:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .30);
    transform: translate3D(0, -2px, 0);
    overflow: hidden;
  }
  .imgtext{
    background-color: white;
    border-radius: 5px;
  }
  
.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
    overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;  
}

footer {
display:flex;
background-color: rgba(255, 255, 255, 0.7) ;
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 30px;
width: 100%;
margin: 0 auto;
justify-content:center;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
color: rgba(32, 25, 25, 0.925);
}
